<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
    </head>
    <style>
        body{
            background: url('media/bg.jpg') no-repeat center center fixed; 
            background-color: rgb(139, 139, 139);
            background-blend-mode: darken;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            
        }
        
    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary " style="opacity:0.95;">
                    <a class="text-warning text-center m-auto" style="font-size:1.5rem;" href="/">Face Recognition App</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            </nav>

            <div class="col-md-5 m-auto text-warning" >
                <div class="card card-body  bg-dark " style="border:solid rgba(255, 255, 255, 0.575) 2.5px; box-shadow: 0px 0px 15px rgb(238, 255, 0);opacity:0.9;margin-top: 7.5%;">
                        <h2 class="text-center text-warning ">Register</h2>
                        <!--<form class="form" method="POST" enctype="multipart/form-data">
                              <div class="alert alert-{{status}} alert-dismissible" > {{msg}} </div> 
                             {% csrf_token %}
                             {{ userform.as_p }}
                             {{ formset.as_p }}
                            <div class="form-group text-center" >
                                <button type="submit" class="btn btn-outline-warning font-weight-bolder " style="font-size:1rem;padding-left:10%;padding-right:10%;">Register</button>
                            </div>
                        </form>-->
                        <form class="form" action="/upload" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="alert alert-dismissible alert-{{status}}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{msg}}</strong>
                            </div> 
                            <div class="form-group" >
                                <label for="name">Name</label>
                                <input type="text" required name='name'  class="form-control" id='name'>
                            </div>    
                            <div class="form-group" >
                                <label for="email">Email</label>
                                <input type="text" required name='email'  class="form-control" id='email'>
                            </div>    
                            <div class="form-group" >
                                <label for="user_img">Select Multiple Images</label>
                                <input type="file" class="form-control" multiple="" required name='user_img' id='user_img'>
                            </div>
                            <div class="form-group text-center" >
                                <button type="submit" class="btn btn-outline-warning font-weight-bolder " style="font-size:1rem;padding-left:10%;padding-right:10%;">Register</button>
                            </div>
                        </form>
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>